<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app"></div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js"></script>

  <script>
    window.WwLogin({
      "id": 'app',
      "appid": "",
      "agentid": "",
      "redirect_uri": "http%3A%2F%2Fyijie123.free.ngrok.cc%2Faaa%2Fsuccess",
      "state": "12312"
    });
  </script>
</body>

</html>
